In [33]:
import torch
import torch.nn as nn
import torch.functional as F
import torch.optim as optim
import torchvision
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random 
import time
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")
import string
from nltk.corpus import stopwords
plt.ion()

In [10]:
class SentimentAnalysis:
    def __init__(self):
        pass

In [11]:
class CBOW:
    def __init__(self):
        pass

In [12]:
class NGRAM:
    def __init__(self):
        pass

In [14]:
reviews = pd.read_json("/home/bh_parijat/data/yelp/review.json",lines=True)

In [15]:
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [16]:
reviews.text = reviews.text.apply(lambda x: x.lower())

In [30]:
reviews.text[0]

'total bill for this horrible service over 8gs these crooks actually had the nerve to charge us 69 for 3 pills i checked online the pills can be had for 19 cents each avoid hospital ers at all costs'

In [27]:
def remove_punctuation(s):
    #s = s.split()
    
    s = [ch for ch in s if ch not in string.punctuation]
    
    s = "".join(s)
    
    return s

In [28]:
reviews.text = reviews.text.apply(lambda x:remove_punctuation(x))

In [29]:
reviews.text.head()

0    total bill for this horrible service over 8gs ...
1    i adore travis at the hard rocks new kelly car...
2    i have to say that this office really has it t...
3    went in for a lunch steak sandwich was delicio...
4    today was my second out of three sessions i ha...
Name: text, dtype: object

In [43]:
def remove_stopwords(s):
    stop_words = set(stopwords.words("english"))
    
    s = s.split(" ")
    
    s = [word for word in s if word not in stop_words]
    
    s = "".join(s)
    
    return s

In [ ]:
reviews.text = reviews.text.apply(lambda x:remove_stopwords(x))